<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding"><img [src]="logo"/> <span>NEM-tools</span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">

    <div class="toolbar">
      <mat-toolbar color="primary">
        <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <span routerLink="" class="branding spacer d-inline d-sm-none text-center"><img
          [src]="logo"/></span>
        <span routerLink="" class="branding spacer d-none d-sm-inline d-md-none text-center"><img
          [src]="logo"/> NEM-tools</span>
        <span routerLink="" class="branding spacer d-none d-md-inline"><img
          [src]="logo"/> NEM-tools</span>

        <span class="d-none d-md-inline">
          <button mat-button class="nav-button" *ngFor="let item of navigation"
              [routerLink]="[item.link]" routerLinkActive="active">
            {{item.label}}
          </button>
        </span>

        <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
          <mat-icon>settings</mat-icon>
        </button>

        <a matTooltip="Project Github Repository"
           matdTooltipPosition="before"
           mat-icon-button class="link"
           href="https://github.com/marc0olo/nem-tools"
           target="_blank">
          <i class="fa fa-github fa-2x"></i>
        </a>

      </mat-toolbar>
    </div>

    <div class="content"
         [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://github.com/marc0olo" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            <span>Github</span>
          </a>
          <a href="https://twitter.com/marc0olo" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <span>Twitter</span>
          </a>
          <a href="https://steemit.com/@marc0o"
             target="_blank">
            <i class="fa fa-steemit fa-2x" aria-hidden="true"></i>
            <span>Steemit</span>
          </a>
          <a href="https://medium.com/@walz.marco" target="_blank">
            <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
            <span>Medium</span>
          </a>
        </div>
      </div>
      <div class="row footer-references">
          <div class="col l6 s12 footer-column-left">
            <h3 class="white-text"><i class="material-icons">card_giftcard</i>Donation</h3>
            <p class="grey-text text-lighten-4">XEM (or other mosaics :-))</p>
            <ul>
              <li>
                <button mat-button ngxClipboard [cbContent]="'NBEZ5S43KR7KXPPLW26TK4JPKC6U2GFM6AI6XF6U'" (cbOnSuccess)="onCopy()">
                  <mat-icon>content_copy</mat-icon>
                  NBEZ5S43KR7KXPPLW26TK4JPKC6U2GFM6AI6XF6U
                </button>
              </li>
            </ul>
            <p class="grey-text text-lighten-4">ETH (or any ERC20)</p>
            <ul>
              <li>
                <button mat-button ngxClipboard [cbContent]="'0x7Ab1EF778d9fA0716E5F57f68B47529351D5eBaE'" (cbOnSuccess)="onCopy()">
                  <mat-icon>content_copy</mat-icon>
                  0x7Ab1EF778d9fA0716E5F57f68B47529351D5eBaE
                </button>
              </li>
            </ul>
          </div>
          <div class="col l3 s12 footer-column-standard">
            <h3 class="white-text">References</h3>
            <ul>
              <li><a class="white-text" href="https://nem.io/" target="_blank">
                <i class="material-icons tiny">link</i>
                NEM Homepage</a></li>
              <li><a class="white-text" href="https://blog.nem.io/" target="_blank">
                <i class="material-icons tiny">link</i>
                NEM Blog</a></li>
              <li><a class="white-text" href="https://nemflash.io/" target="_blank">
                <i class="material-icons tiny">link</i>
                NEM News</a></li>
              <li><a class="white-text" href="https://docs.nem.io/en" target="_blank">
                <i class="material-icons tiny">link</i>
                NEM Docs</a></li>
              <li><a class="white-text" href="https://nem.io/developers/" target="_blank">
                <i class="material-icons tiny">link</i>
                NEM Developers</a></li>
              <li><a class="white-text" href="https://nemlibrary.com/" target="_blank">
                <i class="material-icons tiny">link</i>
                NEM Library</a></li>
            </ul>
          </div>
          <div class="col l3 s12 footer-column-standard">
            <h3 class="white-text">Discussion</h3>
            <ul>
              <li><a class="white-text" href="https://forum.nem.io/t/nem-tools-com-automated-delegated-harvesting-export-of-transactions-and-more" target="_blank">
                <i class="material-icons tiny">forum</i>
                Forum</a></li>
              <li><a class="white-text" href="https://t.me/nemred" target="_blank">
                <i class="material-icons tiny">chat</i>
                NEM::Red (Telegram)
              </a></li>
              <li><a class="white-text" href="https://t.me/nemprojects" target="_blank">
                <i class="material-icons tiny">chat</i>
                NEM::Projects (Telegram)
              </a></li>
              <li><a class="white-text" href="https://t.me/nemhelpdesk" target="_blank">
                <i class="material-icons tiny">chat</i>
                NEM::Helpdesk (Telegram)
              </a></li>
            </ul>
          </div>
        </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; {{year}} - nem-tools.com made with ❤️ by marc0olo
          <br class="d-block d-sm-none">
          <!--
          <a matTooltip="Show changelog"
             matTooltipPosition="before"
             href="https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CHANGELOG.md">
            <i class="fa fa-rocket"></i> {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
          </a>
          -->
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>
