<div class="row">
    <div class="col s6">
        <div id="harvestingDescription">
            <h4>Automated restart of delegated harvesting</h4>
            <b>Regular headaches</b>
            <ul class="browser-default">
                <li>delegated harvesting stops when a node is getting rebooted for some reason</li>
                <li>you need to manually search for a node with free slots (can be frustrating using NanoWallet)</li>
                <li>maybe you are on vacation and you cannot afford to restart harvesting</li>
                <li>you miss the chance to harvest new blocks</li>
            </ul>
            <b>Solution</b>
            <ul class="browser-default">
                <li>we provide a service that <b>automatically</b> restarts delegated harvesting for you!</li>
                <li>a scheduled task runs <b>every 5 minutes</b> and checks whether delegated harvesting for your account is still active</li>
                <li>you will get notified via mail when delegated harvesting was restarted including the information about the host it is running on</li>
            </ul>
            <b>What's needed?</b>
            <ul class="browser-default">
                <li><a href="https://steemit.com/nem/@marc0o/nem-tools-automated-restart-of-delegated-harvesting" target="_blank" rel="noopener noreferrer"><b>blog-entry</b></a></li>
                <ul class="browser-default">
                    <li>detailed explanation how the service works and what you have to do</li>
                    <li>it's recommended to read this blog-entry before you start using this service</li>
                </ul>
                <li>first of all you need to have delegated harvesting <b>activated</b></li>
                <ul class="browser-default">
                    <li><a href="https://blog.nem.io/how-to-activate-start-delegated-harvesting-in-nanowallet/" target="_blank" rel="noopener noreferrer"><b>tutorial</b></a> (how to activate & start delegated harvesting in NanoWallet)</li>
                    <li><a href="https://www.youtube.com/watch?v=_m7rvXiEFpo" target="_blank" rel="noopener noreferrer"><b>video-tutorial</b></a> (also explains how to use this service)</li>
                </ul>
                <li>when this is done we need 3 types of information from you</li>
                <ul class="browser-default">
                    <li>your e-mail address</li>
                    <li>public key of your <b>delegated account</b></li>
                    <li>private key of you <b>delegated account</b></li>
                    <ul class="browser-default">
                        <li><b>Note:</b> the funds in your regular account cannot be accessed by providing the private key of your delegated account</li>
                    </ul>
                  </ul>
            </ul>
            <br/>
        </div>
    </div>
    <div class="col s6">
      <h4>Register now</h4>
      <form class="col s12" [formGroup]="harvestingForm">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" formControlName="email"
                [ngClass]=
                        "{
                            invalid: !harvestingForm.controls.email.valid && harvestingForm.controls.email.touched,
                            valid: harvestingForm.controls.email.valid && harvestingForm.controls.email.touched
                        }"
            />
            <label for="email" data-error="invalid&nbsp;mail&nbsp;address" data-success="&#10003;">E-Mail</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="privateKeyDelegated" type="password" formControlName="privateKeyDelegated"
                [ngClass]=
                        "{
                            invalid: !harvestingForm.controls.privateKeyDelegated.valid && harvestingForm.controls.privateKeyDelegated.touched,
                            valid: harvestingForm.controls.privateKeyDelegated.valid && harvestingForm.controls.privateKeyDelegated.touched
                        }"
                >
                <label for="password" data-error="invalid&nbsp;private&nbsp;key" data-success="&#10003;">Private key (delegated account)</label>
            </div>
        </div>
        <div class="row">
            <re-captcha (resolved)="resolved($event)" siteKey="6LdLNiwUAAAAAAQKoN6B7Zp6IDueryC7A4OLhYy9"></re-captcha>
            <input id="captcha" formControlName="captcha" hidden="true" />
        </div>
        <div class="row">
            <button (click)="submitForm()" class="btn waves-effect waves-light" [disabled]="!harvestingForm.valid">Send
                    <i class="material-icons right">send</i>
            </button>
        </div>
      </form>
    </div>
</div>