body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 13px;
}

.account,
.calculator,
.harvesting,
.supernodes,
.transactions,
.linkCollection {
  padding: 0 25px;
  margin: 0 auto;
}

.buyXem {
    display: flex;
    justify-content: center; /* align flex items horizontally (in this case) */
    align-items: center; /* align flex items vertically (in this case) */
}

#changelly {
  height: 468px;
  overflow-y: hidden;
  border: none
}

#cryptoCompare {
  margin-left: 20px;
  width: 600px;
}

#supplychain,
#paperwallet,
.address,
.qrCode {
  text-align: center;
}

.qrCode img {
  width: 300px;
  margin-bottom: 10px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  border-color: #3c3c3c;
  background-color: #3c3c3c;
}

.pagination>li>a, .pagination>li>span {
  color: #3c3c3c;
}